* {
    box-sizing: border-box;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.gameContainer {
    position: relative;
    width: 800px;
    height: 576px;
    margin: 0 auto;
    outline: 1px solid white;

    transform: translateY(25%);
}

.gameContainer canvas {
    image-rendering: pixelated;
}